$font-family: 'ProximaNova';
$font-title: 'ProximaNova';

// $colorMain: #ff9800;
$color-white: #ffffff;
$color-green-dark: #142c37;
$color-green: #00be6f;
$color-gray: #868f93;
// $color-primary: #f0972d;
$color-red: #f52727;
$color-black: #2e384d;
$color-yellow: #ff9d00;
$color-blue: #3e99ed;
$color-blue-lighter: #61a8e9;
$color-orange: #f6be66;

$title-color: #37474f;
$subtitle-color: #526069;
$text-color: #76838f;
$text-color--secondary: #a3afb7; //#949ba2;
// $text-color--tertiary: #c1c7c9;

$color-primary: #3f99ef; //#409eff; //#007bff;
$color-accent: #f6a821;
$color-default: #616779;
$color-success: #1bbf89;
$color-info: #56c0e0;
$color-warning: #f7af3e;
$color-danger: #db524b;

/* $color-primary--shaded: rgba(64, 158, 255, 0.2);
$color-accent--shaded: rgba(246, 168, 33, 0.1);
$color-default--shaded: #3d404c;
$color-success--shaded: rgba(27, 191, 137, 0.1);
$color-info--shaded: rgba(86, 192, 224, 0.1);
$color-warning--shaded: rgba(247, 175, 62, 0.1);
$color-danger--shaded: rgba(219, 82, 75, 0.1);

$color-primary--disabled: #0f83c9;

$color-input-background: #494b54;
$color-background: #2f323b; //#1E2128;
$color-background-secondary: #393c45;
$color-background-tertiary: #24262d;
$color-background-gray: #757575;
$color-background-gray-dark: #616161; */

$color-dark: #1e2128;
$color-grey: #cccccc;
