  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Light.ttf'); /* IE9 Compat Modes */
    font-weight: 100;
    font-style: normal
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-LightItalic.ttf'); /* IE9 Compat Modes */
    font-weight: 100;
    font-style: italic
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Hairline.ttf'); /* IE9 Compat Modes */
    font-weight: 300;
    font-style: normal
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-HairlineItalic.ttf'); /* IE9 Compat Modes */
    font-weight: 300;
    font-style: italic
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf'); /* IE9 Compat Modes */
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Italic.ttf'); /* IE9 Compat Modes */
    font-weight: 400;
    font-style: italic
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Bold.ttf'); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-BoldItalic.ttf'); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: italic
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Black.ttf'); /* IE9 Compat Modes */
    font-weight: 900;
    font-style: normal
  }
  @font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-BlackItalic.ttf'); /* IE9 Compat Modes */
    font-weight: 900;
    font-style: italic
  }
  //font STIXGeneral

  @font-face {
    font-family: 'STIXGeneral';
    src: url('./fonts/STIXGeneral/STIXGeneral-Bold.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal
  }

  @font-face {
    font-family: 'STIXGeneral';
    src: url('./fonts/STIXGeneral/STIXGeneral-BoldItalic.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: italic
  }

  @font-face {
    font-family: 'STIXGeneral';
    src: url('./fonts/STIXGeneral/STIXGeneral-Regular.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 400;
    font-style: normal
  }

  @font-face {
    font-family: 'STIXGeneral';
    src: url('./fonts/STIXGeneral/STIXGeneral-Italic.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 400;
    font-style: italic
  }

  //font ProximaNova
   @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Xbold.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 900;
    font-style: normal
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Xbold-It.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 900;
    font-style: italic
  }

   @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Black.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: normal
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Bold-It.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 700;
    font-style: italic
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Sbold.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 600;
    font-style: normal
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Sbold-It.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 600;
    font-style: italic
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Reg.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 400;
    font-style: normal
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Reg-It.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 400;
    font-style: italic
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Light.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 300;
    font-style: normal
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Light-It.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 300;
    font-style: italic
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Thin.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 100;
    font-style: normal
  }

  @font-face {
    font-family: 'ProximaNova';
    src: url('./fonts/ProximaNova/Proxima-Nova-Thin-It.otf') format("opentype"); /* IE9 Compat Modes */
    font-weight: 100;
    font-style: italic
  }

  //font Raleway
  @font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Light.ttf'); /* IE9 Compat Modes */
    font-weight: 300;
    font-style: normal
  }
  @font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway/Raleway-Medium.ttf'); /* IE9 Compat Modes */
    font-weight: 500;
    font-style: normal
  }

  

